@charset "UTF-8";



.foto-perfil {
  weight: 100%;
  width: auto;
  max-width: 100%;
  border-radius: 50%;
}

.cor-primaria {
  background-color: #134074;
}

.cor-secundaria {
  background-color: #0b2545;
}

p {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black !important;
}

.icones {
  padding-left: 10px;
}

.titulosBrancos {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}

.titulosRoxo {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #0b2545;
}

.textoBranco {
  color: white !important;
}

.jumbotron {
  margin-bottom: 0%;
}

.textofooter {
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

html {
  scroll-behavior: smooth;
}

.alinhado {
  display: block;
  margin: auto;
}

main {
  width: 600px;
  padding: 10px;
  margin: auto;
  border-radius: 40px;
}